/* Estilos Gerais */
*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

/* Fonts */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue.woff2') format('woff2'),
    url('fonts/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Estilos via seleteros */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #2D2D2D;
    
}

body.menu-active {
    overflow: hidden;
}

h2, p, a{
    color: #2D2D2D;
}

button{
    border: none;
    background-color: #3C0C60;
}

/* Hero - responsividade mobile */
.hero-section {
    position: relative;
    height: 363px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D2D2D;
}

.hero-navigation {
    position: absolute;  /* Fixa a navegação no topo */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;  /* Fixa o menu acima dos outros elementos */
    background-color: #2D2D2D;
    padding: 20px;
}

.hero-logo-container{}

.hero-logo{}

.hero-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    position: relative; /* Permite que a imagem sobreponha */
    z-index: 1;
}

.hero-title{
    color: #EAE8E4;
    
}

.hero-paragraph{
    color: #EAE8E4;
}

#scroll-button{
    background-color: transparent;
}

.hero-description {
   display: flex;
   flex-direction: column;
    gap: 20px;
    margin: 10px;
    height: 210px;
}

.hero-scroll{
    display: block;
    width: 38px;
    height: 51px;
}

.hero-image-container {
    position: absolute;  /* Faz a imagem sair do fluxo normal */
    top: 0;  /* Centraliza verticalmente */
    right: 0;
    transform: translateY(-44%);  /* Ajusta para centralizar corretamente */
    z-index: 0;  /* Coloca a imagem atrás do conteúdo textual */
}

/* Hero */
/* Estilos para Tablet - 768px */
@media screen and (min-width: 768px) {
    .hero-logo-container{
        display: flex;
        margin: 0px;
    }

    .hero-section {
        flex-direction: row; /* Alinha elementos horizontalmente */
        height: 350px; /* Ajusta a altura para tablets */
        padding: 40px;
        justify-content: flex-start; /* Garante alinhamento inicial */
    }

    .hero-description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0; /* Remove margens extras */
        /* height: auto; */ /* Permite ajuste automático à altura do conteúdo */
        width: 700px !important; /* Limita a largura */
        text-align: left; /* Alinha o texto à esquerda */
    }

    .hero-title {
        font-size: 28px; /* Ajusta tamanho do título */
    }

    .hero-paragraph {
        font-size: 16px; /* Ajusta tamanho do parágrafo */
    }

    .hero-image-container {
        position: absolute;
        top: 50%;
        right: 10%; /* Aproxima a imagem do texto */
        transform: translateY(-51%);
        width: 200px; /* Ajusta largura da imagem */
    }
    .menu-toggle {
        font-size: 28px;
    }
}

/* Estilos para Desktop - 1440px */
@media screen and (min-width: 1440px) {
    .hero-navigation{
        height: 50px;
    }

    .hero-logo {
        width: 140px;
        height: 24px;
    }

    .hero-section {
        display: flex;
        flex-direction: row; /* Alinha os elementos horizontalmente */
        height: 700px;
        justify-content: space-between; /* Espaça os elementos */
        padding: 50px 100px;
        gap: 50px; /* Adiciona espaçamento entre os elementos */
        align-items: center; /* Garante alinhamento vertical */
    }

    .hero-description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;
        width: 700px; /* Define a largura */
        max-width: 700px; /* Garante limite máximo */
        flex: 0 0 700px; /* Evita que o flexbox redimensione */
        text-align: left;
        height: auto;
    }

    .hero-title {
        font-size: 40px
    }

    .hero-paragraph {
        font-size: 20px;
    }

    .hero-image-container {
        position: absolute;
        top: 50%;
        right: 10%; /* Aproxima a imagem do texto */
        transform: translateY(-54%);
        width: 400px; /* Ajusta largura da imagem */
    }

    .hero-image {
        width: 100%;
        height: 540px;
    }

    .hero-scroll{
        width: 72px;
        height: auto;
    }
}

/* Nav Bar - mobile */
/* desativa o menu */
.navbar {
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d7aef5;
    z-index: 1000;
    padding: 20px;
    display: none; /* Inicialmente o menu está escondido */
}

.hidden {
    display: none;
}

/* ativa o menu */
.navbar.active {
    display: block;
}


.close-menu{
    background-color: transparent;
}
.menu-toggle{
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
}

.navbar {  
    display: none;
      position: fixed;
      top: 10;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #d7aef5;
      z-index: 1000;
      padding: 20px;
}

.navbar a{   
    color: #2D2D2D;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar a{
    background-color: #d7aef5;
}


@media (min-width: 768px) {
    /* Menu ativado em 768px */
    .hero-navigation {
        display: flex;
        justify-content: space-between; /* Para distribuir logo e menu */
        align-items: center; /* Alinha verticalmente os itens */
        width: 100%;
    }

    .navbar {
       
    }

    .navbar-links {
        display: flex; /* Flex para os itens da lista */
        margin: 0;
        padding: 0;
    }

    .navbar-links li {
        margin: 0 15px; /* Espaçamento entre os itens */
        list-style-type: none; /* Remove as bolinhas */
        padding: 0; /* Remove o padding */
    }

    .navbar-links li a {
        font-size: 16px;
        color: white;
        margin: 0;
    }

    /* Esconde o botão de menu em telas maiores */
    .menu-toggle {
        display: none;
    }
}

@media (min-width: 1440px){
    /* Menu ativado em 768px */

    .hero-section{
        margin-left: 20px;
        padding: 20px;
        height: 500px;
    }
    .hero-navigation {
        display: flex;
        justify-content: space-between; /* Para distribuir logo e menu */
        align-items: center; /* Alinha verticalmente os itens */
        text-align: center;
        width: 100%;
        padding: 10px
       
    }

    .navbar {
        
    }

    .navbar-links {
        display: flex; /* Flex para os itens da lista */
        margin: 0;
        padding: 0;
    }

    .navbar-links li {
        margin: 0 15px; /* Espaçamento entre os itens */
        list-style-type: none; /* Remove as bolinhas */
        padding: 0; /* Remove o padding */
        height: 20px;
        
    }

    .navbar-links li a {
        font-size: 26px;
        color: white;
        margin: 0;
        text-decoration: none;
        

    }

    /* Esconde o botão de menu em telas maiores */
    .menu-toggle {
        display: none;
    }
}

.navbar2{
    display: none;
}

@media (min-width: 768px){
    .hero-navigation{
        display: flex;
        justify-content: space-between; /* Para distribuir logo e menu */
        align-items: center; /* Alinha verticalmente os itens */
        width: 100%;
    }

    .navbar-links2 {
        display: flex; /* Flex para os itens da lista */
        margin: 0;
        padding: 0;
    }

    .navbar-links2 li {
        margin: 0 15px; /* Espaçamento entre os itens */
        list-style-type: none; /* Remove as bolinhas */
        padding: 0; /* Remove o padding */
    }

    .navbar-links2 li a {
        font-size: 16px;
        color: white;
        margin: 0;
        text-decoration: none;
    }

    .navbar2{
        list-style-type: none; 
    }

    .navbar2{
        display: block
    }
}


/* Container */
#container{
    display: flex;
    flex-direction: column;
    background-color: #EAE8E4;
    padding: 20px;
}

.container-product {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product h3 {
    margin: 15px 0 5px;
    font-size: 1.2rem;
    color: #333;
}

.product p {
    margin: 0 15px 15px;
    font-size: 0.9rem;
    color: #666;
}



/* Tablet & Laptop: 768px to 1439px */
@media (min-width: 768px) and (max-width: 1439px) {
    .container-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* Desktop: 1440px and above */
@media (min-width: 1024px)  {
    .container-product {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }
}

/* Desktop: 1440px and above */
@media (min-width: 1360px)  {
    .container-product {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

/* Gallery - mobile */
#gallery {
    display: flex;
   flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.gallery-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gallery-title {
    color: #2D2D2D;
}

.gallery-subtitle {
    color: #2D2D2D;
    margin-bottom: 10px;
}

.pics-container {
    display: flex;
    flex-direction: column; /* Colocar as imagens em coluna */
    gap: 10px;
    flex-grow: 1; /* O container da direita ocupa o restante do espaço */
    justify-content: space-between;
}

.pics-01 {
    width: 330px;
    height: 198px;
}

.pics-02,
.pics-03 {
    width: 330px;

}

@media (min-width: 768px) {
    #gallery {
        flex-direction: row; /* Lado a lado */
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    .gallery-box {
        width: 50%; /* O texto ocupa metade da largura */
        text-align: left; /* Alinha o texto à esquerda */
        gap: 20px;
    }

    .gallery-title {
        font-size: 32px; /* Aumenta o tamanho do título */
    }

    .gallery-subtitle {
        font-size: 18px;
    }

    .pics-container {
        width: 50%; /* O container de imagens ocupa a outra metade */
        display: grid; /* Usa grid para organizar imagens */
        grid-template-columns: 1fr; /* Uma coluna */
        gap: 15px;
    }

    .pics-01 {
        width: 100%;
        height: 300px;
    }

    .pics-02,
    .pics-03 {
        width: 100%;
        height: 200px;
    }
}

/* Responsividade - Desktop (1440px para cima) */
@media (min-width: 1440px) {
    #gallery {
        padding: 40px 80px; /* Maior espaçamento */
    }

    .gallery-box {
        max-width: 600px; /* Limita a largura do texto */
        gap: 30px;
    }

    .gallery-title {
        font-size: 40px; /* Tamanho maior para o título */
    }

    .gallery-subtitle {
        font-size: 20px;
    }

    .pics-container {
        flex-direction: column;
        gap: 20px;
    }

    .pics-01 {
        grid-column: span 2; /* Primeira imagem ocupa duas colunas */
        height: 400px;
    }

    .pics-02,
    .pics-03 {
        height: 300px;
    }
}

/* App */
#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #3C0C60;
    margin-bottom: 40px;
    border-radius: 10px;
    height: 394px;
}

.info-box{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    padding: 10px;
   
}

.title-box{
    width: 264px;
    height: 140px;
}

.title{
    color: #EAE8E4;
}

.description{
    color: #EAE8E4;
}

.container-button{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.app-button{
    background-color: transparent;
}

/*App - tablet*/
@media (min-width: 768px) {
    #app {
        display: flex;
        flex-direction: row; /* Alterar para layout em linha */
        height: auto; /* Ajustar a altura */
        width: 100%;
    }

    .info-box {
        display: flex;
        flex-direction: row; /* Manter o layout em linha */
        justify-content: center;
        align-items: center;
        gap: 20px; /* Ajustar o espaçamento */
        flex: 1; /* Garantir que a info-box ocupe o espaço disponível */
        width: 100%;
      
    }

    .title-box{
        display: flex;
        flex-direction: column; /* Manter o layout em linha */
        justify-content: center;
        width: 100%;
        margin: 0px;
    }

    .title{
        color: #EAE8E4;
        margin: 0px;
    }
    
    .description{
        color: #EAE8E4;
    }
     
    .container-button {
        display: flex;
        flex-direction: column; /* Botões empilhados em coluna */
        gap: 2px; /* Ajustar o espaçamento entre os botões */
        align-items: flex-end; /* Alinhar os botões à direita */

    }

    .app-button, .app-button-image {
        width: 100%; /* Garantir que os botões ocupem a largura total do container */
    }
}

/*App - desktop*/
/* App - desktop */
@media (min-width: 1440px) {
    #app {
        display: flex;
        flex-direction: row; /* Elementos lado a lado */
        justify-content: space-between; /* Espaço entre texto e botões */
  
        gap: 60px; /* Espaçamento entre os elementos */
        height: auto;
        padding: 40px; /* Adicionado padding para espaçamento interno */
    }
    
    .info-box {
        display: flex;
        flex-direction: row; /* Títulos e descrições empilhados */

        flex: 1; /* Ocupa o espaço restante */
      
        gap: 20px; /* Espaço entre título e descrição */
        width: 100%;
    }

    .title-box {
        margin: 0;
    }

    .title {
        color: #EAE8E4;
        font-size: 2.5rem; /* Tamanho maior para o título */
        font-weight: bold;
        margin: 0 0 10px 0; /* Espaçamento inferior ajustado */
    }

    .description {
        color: #EAE8E4;
        font-size: 1.25rem; /* Ajuste de tamanho da descrição */
        line-height: 1.5; /* Altura da linha para melhor legibilidade */
        margin: 0;
    }

    .container-button {
        display: flex;
        flex-direction: column; /* Botões empilhados */
        align-items: flex-end; /* Botões alinhados à direita */
        gap: 15px; /* Espaçamento entre os botões */
        flex: none;
    }

    .app-button {
        background-color: transparent; /* Fundo transparente */
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .app-button-image {
        width: 217px; /* Tamanho fixo para os botões */
        height: auto; /* Mantém proporção */
    }
}

/*Tags - desktop*/
.container-tags {
    text-align: center;
    max-width: 1200px;
    margin: 20px;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .tag {
    border: 2px solid #9b59b6;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #9b59b6;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }

  .tag:hover {
    background-color: #9b59b6;
    color: #fff;
  }

  @media (max-width: 768px) {
    .container-tags{
        display: flex;
        flex-direction: column;
    }

    h1 {
      font-size: 1.25rem;
    }

    .tag {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }

  @media (max-width: 480px) {
    .tags {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    .tag {
      width: 40%;
      text-align: center;
    }
  }

/* Card */
#card {
    display: flex;
    gap: 20px; /* Espaço entre os cards */
    justify-content: center; /* Centraliza os cards na seção */
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-item {
    background-color: #fff; /* Fundo branco */
    border: 2px solid #DFBBFE; /* Bordas rosas */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    width: 300px; /* Largura fixa para os cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title,
.card-subtitle {
    text-align: left; /* Alinha o texto à esquerda */
    margin-bottom: 15px; /* Espaçamento entre título e subtítulo */
    color: #2D2D2D;
}

.button-container {
    text-align: center; /* Centraliza o botão */
}

button {
    background-color: #DFBBFE; /* Fundo rosa */
    color: black; /* Texto preto */
    border: none; /* Remove a borda padrão */
    padding: 10px 15px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de botão */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: medium;
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

@media (min-width: 768px){
    #card{
        flex-wrap: nowrap;
        width: 100%;
    }
}

@media (min-width: 1440px){
    .card-item{
        width: 100%;
        max-width: 375px;
        height: 276px;
    }

    .card-subtitle{
        font-size: 21px;;
    }

    .card-item button{
        width: 180px;
        height: 40px;
    }
}

/* Forms */
#forms-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #2D2D2D;
}

.forms-image-container {
    flex: 1;
    text-align: center;
}

.forms-image {
    max-width: 100%;
    border-radius: 10px;
}

.forms {
    flex: 1;
    max-width: 500px;
    background-color: #EAE8E4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-header h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-header p {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 5px;
    margin-top: 20px;
}

.form-note {
    font-size: 0.9rem;
    margin-top: 20px;
}

.container-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* width: 264px;
    height: 222px; */
}

.form-input {
    min-width: 280px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 1rem;
}

.verification {
    flex: 1;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.verification-subtitle {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.verification-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    
    margin-bottom: 20px;

}

.verification-equation {
    font-weight: bold;
    color: #2D2D2D;
    background-color: #DFDCD5;
    padding: 10px;
    border-radius: 10px;
}

.number.highlight {
    color: #7D26C9;
}

.operator {
    margin: 0 5px;
    font-weight: bold;
}

.result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 95px;
    height: 42px;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #CCCCCC;
}

.result-placeholder {
    color: #777777;
}

.verification-button {
    background-color: rgba(223, 187, 254, 0.5);
    
    color: rgb(133, 130, 136);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

@media (min-width: 768px) and (max-width: 1439px) {
    #forms-container {
        display: flex;
        flex-direction: row; /* Lado a lado */
        justify-content: center; /* Centraliza o conteúdo */
        align-items: center; /* Alinha verticalmente */
        gap: 20px; /* Espaço entre os elementos */
    }

    .forms-image-container {
        flex: 1; /* Cada lado ocupa 50% */
        max-width: none; /* Remove limite fixo */
        text-align: center; /* Centraliza a imagem */
    }

    .forms-image {
        width: 100%; /* Garante que a imagem se ajuste ao container */
        max-width: none; /* Remove limite fixo */
        height: auto; /* Mantém proporção */
        border-radius: 10px; /* Mantém o estilo */
    }

    .forms {
        flex: 2; /* Cada lado ocupa 50% */
        max-width: none; /* Remove limite fixo */
        height: auto; /* Altura fluida */
        text-align: left; /* Alinha o texto à esquerda */
    }
}

/* Estilos para telas grandes (1440px para cima) */
@media (min-width: 1440px) {
    #forms-container {
        display: flex;
        flex-direction: row; /* Lado a lado */
        justify-content: space-between; /* Distribui os elementos ao longo da linha */
        align-items: center; /* Alinha os elementos verticalmente */
        gap: 80px; /* Espaço maior entre logo e formulário */
    }

    .forms-image-container {
        flex: 1; /* A imagem ocupa espaço proporcional */
        max-width: 500px; /* Aumenta o tamanho máximo para a imagem */
        text-align: left; /* Alinha a imagem à esquerda */
    }

    .forms-image {
        max-width: 100%; /* Garante que a imagem seja responsiva */
        height: auto; /* Mantém a proporção */
        border-radius: 12px; /* Mantém o estilo arredondado, mas um pouco mais suave */
    }

    .forms {
        flex: 2; /* Formulário ocupa mais espaço proporcionalmente */
        max-width: 900px; /* Define o tamanho máximo do formulário */
        height: auto; /* Altura fluida */
        text-align: left; /* Garante alinhamento do texto à esquerda */
    }

    .container-input {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Duas colunas para o formulário */
        gap: 30px; /* Aumenta o espaçamento entre os inputs */
    }

    .form-input {
        width: 100%; /* Os inputs ocupam toda a largura da coluna */
    }

    .form-header h2 {
        font-size: 3rem; /* Tamanho maior para o título */
        margin-bottom: 25px;
    }

    .form-header p, .form-note {
        font-size: 1.5rem; /* Tamanho maior para o texto */
    }

    .verification {
        display: flex;
        flex-direction: row; /* Coloca os elementos lado a lado em telas maiores */
        justify-content: flex-start; /* Alinha à esquerda */
    }

    .verification-box {
        width: auto;
    }
}

/* Footer */
.row-footer{
    width: 90%; /* Largura da linha */
    margin: 0 auto 20px auto; /* Centraliza horizontalmente e adiciona espaçamento abaixo */
    border-top: 4px solid #DFBBFE; /* Cria a linha usando border-top */
    border-radius: 2px;
    color: #DFBBFE;
}

#footer{
    display: flex;
    flex-direction: column;
    background-color: #2D2D2D;
    padding: 24px;
    gap: 30px;
    opacity: 0px;

}

.footer-social{
    display: flex;
    min-width: 231px;
}

.social-icon{
    font-size: 2em;
    color: #EAE8E4;
}


.footer-infos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #EAE8E4;
}

.footer-infos div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-infos h2,p{
    color: #EAE8E4;
}


@media (min-width: 768px){
    .footer-infos{
        width: 50%;
    }
}

@media (min-width: 1440px) {
    #footer {
        display: flex;
        flex-direction: column; /* Alinha as seções lado a lado */
        justify-content: space-between; /* Espaço entre social e infos */
        align-items: center; /* Alinha os elementos verticalmente */
        gap: 60px; /* Espaçamento entre as seções */
        padding: 40px; /* Aumenta o padding para maior espaçamento */
    }

    .footer-social {
        display: flex; /* Ativa o flexbox */
        justify-content: center; /* Centraliza os ícones horizontalmente */
        align-items: center; /* Alinha os ícones verticalmente */

        gap: 20px; /* Espaçamento entre os ícones */
    }

    .social-icon {
        font-size: 2rem; /* Tamanho dos ícones */
        color: #EAE8E4; /* Cor dos ícones */
        transition: color 0.3s ease;
    }

    .social-icon:hover {
        color: #DFBBFE; /* Cor ao passar o mouse */
    }

    .footer-infos {
        width: 30%; /* Define largura do bloco */
        display: flex;
        flex-direction: column; /* Empilha título e parágrafos */
        gap: 10px; /* Espaço entre os textos */
        white-space: normal; /* Permite quebra de linha nos textos */
        text-align: center;
    }

    .footer-infos div{
        display: flex;
        gap: 10px; 
    }

    .footer-infos h2 {
        font-size: 1.5rem; /* Tamanho do título */
        margin-bottom: 10px; /* Espaço inferior ao título */
        color: #EAE8E4;
    }

    .footer-infos p {
        font-size: 1rem; /* Tamanho do texto */
        margin: 0; /* Remove margens extras */
        color: #EAE8E4;
    }
}
